    .top-section {
        display: flex;
        /*! justify-content: space-between; */
        /*! width: 70%; */
        gap: 12px;
    }
    .legend {
        display: flex;
        gap: 12px;
    }
    .key {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        width: 120px;
        height: 120px;
        border: solid 2px #000000;
    }
    .key-block {
        width: 100%;
        height: 10px;

    }
    .key-text {
        text-align: center;
        font-size: 18px;

        margin-bottom: 12px;
    }

    .key.notes {
        background-color: #9EA800;
    }
    .key.scripts {
        background-color: #A50ADD;
        color: #ffffff;
    }
    .key.tool {
        background-color: #0C2D00;
        color: #92CF78;
    }
    .notes .key-block {
        background-color:#A50CAE;
    }
    .scripts .key-block {
        background-color: #7952FF;
    }

    .tool .key-block {
        background-color: #92CF78;
        color: #0C2D00;
    }

.point-block {
    display: flex;
    align-items: center;
    color: #19153D;

    max-width: 700px;
}

.point-block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin: 12px;
}

.note-buttons {
    display: flex;
    flex-direction: column;
}

.script-buttons.scripts {
    margin-top: 68px;
}

.note-button {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        margin-top: 12px;

        border: solid 2px #000000;
        background-color: #9EA800;

        width: 400px;
        
    }

    .note-button-text {
            background-color:#A50CAE;
            color: #000;
            padding: 4px;
            font-family: "Chivo Mono", monospace;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;

            border-bottom: solid 2px var(--plum_darker);
    }

    .note-descriptions {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: "Chivo Mono", monospace;
            font-style: normal;
            font-size: 16px;
            margin-top: .5em;

            padding: 8px;
    }

.scripts .note-button {
    background-color: #A50ADD;
    color: #FFFFFF;
}

.note-button.script .note-button-text {
    background-color: #7952FF;
    color: #FFFFFF;
}

.note-descriptions.script {
    font-size: 18px;
}

.note-button.tool {
    background-color: #0C2D00;
    color: #92CF78;
}
.note-button.tool .note-button-text {
    background-color: #92CF78;
    color: #0C2D00;
}