:root {


    --pinknpurple-theme-darkest: #060415; /* PINK & PURPLE - DARKEST */
    --pinknpurple-theme-2dark: #5E156A; /* PINK & PURPLE - 2ndDARK */
    --pinknpurple-theme-midi-dark: #951E7B; /* PINK & PURPLE - MID DARK */
    --pinknpurple-theme-mid-tone: #BE2766; /* PINK & PURPLE - MID TONE */
    --pinknpurple-theme-midi-light: #D74147; /* PINK & PURPLE - MID LIGHT */
    --pinknpurple-theme-2lite: #E08F6C; /* PINK & PURPLE - 2ndLIGHT */
    --pinknpurple-theme-lightest: #F0F1C0; /* PINK & PURPLE - LIGHTEST */

            
    --slider-color-borders-shadows: var(--pinknpurple-theme-darkest);
    --slider-color-bg: var(--pinknpurple-theme-lightest);
    --slider-color-input-focus: var(--pinknpurple-theme-midi-light);  
            

    }


