
:root { 
  --color-bg: #; 
  --color-text-main: #000000;
  --color-text-header: #f5e324;
  --color-primary: #FFFF00;
  --font-family: 'Courier', monospace;
  
  /* ADDED FROM PANES TUTORIAL*/
  
  --title-bar-height: 32px;


  --pane-default-width: 320px;
  --pane-default-height: 360px;
  --pane-border-radius: 8px;

  --darkest-blue: #1E292D;
  --muddled-blue: #286F6F;
  --seafoam-blue: #00C092;
  --minty-blue: #B5FFAC;
  --space-purple: #55458E;
  --space-blue: #5A8CFF;
  --starlight-blue: #AEDEFF;
  --brown: #633632;
  --starlight-purple: #ECDFFF;
  --rich-purple: #490F40;
  --ochre-dark-green: #333925;
  --ochre-green: #84721E;
  --ochre-yellow: #F69E00;

  --basketball-orange: #C67400;
  --purple-ice: #FD00FF;
  --magplum: #950058;
  --deeper-magplum: #120405;

  --brown-tone: #4F3E08;
  --green-swamp: #83871A;
}

body {
  background-color: #e3e3e3;
    /* if outside of the window, clip */
  height: 100vh;
  overflow: clip;
}

    h2 {
      padding: 0;
      margin: 0;
    }

    .descrip-box {
      position: absolute;
      top: 2em;
      right: 2em;
      width: 26em;
      border: solid 1.5px #000000;
      background-color: #ffffff;
      padding: .5em;
      max-height: 6em;
    }
    .descrip-text {
      font-family:'Courier New', Courier, monospace;
      margin: 1em 0;
    }
    .linebr {
      width: 100%;
      border: dotted 2px #000000;
    }
    .des-links {
      display: flex;
    }
    .des-links .descrip-text p {
      margin-right: 15px;
    }

/******************************************************************************
                    PANES TUTORIAL
******************************************************************************/

.pane {
  background-color: #e3e3e3;
  position: absolute;
  width: var(--pane-default-width);
  height: var(--pane-default-height);
  display: grid;
  border: 4px solid #000000;
  overflow: clip;
  min-width: 160px;
  min-height: 160px;
  border-radius: 8px;
}

.pane .title {
  height: var(--title-bar-height);
  cursor: move;
  display: flex;
  align-items: center;
  /*! justify-content: center; */
  color: #000000;
  font-family: "JetBrains Mono", monospace;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: solid 4px var(--brown-tone);
}

.pane .content {
  position: relative;
  overflow-y: scroll;
  margin-right: 20px;
  margin-left: 20px;
}

.panetext {
  margin: .25em;
  background-color: #F0F1C0;
  padding: 15px;
  position: relative;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
  margin-right: .5em;

  font-family: "dm mono", monospace;
}

.opener {
  font-size: 1.1em;
}

.panetext ul li {
  padding: 10px;
}

/* add a corner in bottom right */
.pane .corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  /* north west to south east */
  cursor: nwse-resize;
}

.corner-img {
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}
 
#about-pane {
  background-color: #F0F1C0;
  color: var(--brown-tone);
}
#about-pane .title {
  background-color: var(--green-swamp);
  background-color: var(--brown-tone);
  color: #ffffff;
  font-size: 16px;
}
#about-pane .content .panetext{
  background-color: var(--green-swamp);
  color: #000000;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.dipped {
  transform: translateY(5px);
}




