
:root { 
  --color-bg: #; 
  --color-text-main: #000000;
  --color-text-header: #f5e324;
  --color-primary: #FFFF00;
  --font-family: 'Courier', monospace;
  
  /* ADDED FROM PANES TUTORIAL*/
  
  --title-bar-height: 32px;


  --pane-default-width: 320px;
  --pane-default-height: 360px;
  --pane-border-radius: 8px;
}

body {
  background-color: #e3e3e3;
    /* if outside of the window, clip */
  height: 100vh;
  overflow: clip;
}

/******************************************************************************
                    PANES TUTORIAL
******************************************************************************/

.pane {
  background-color: #F22C8C;
  position: absolute;
  width: var(--pane-default-width);
  height: var(--pane-default-height);
  display: grid;
  border: 4px solid #000000;
  overflow: clip;
  min-width: 160px;
  min-height: 160px;
  border-radius: 8px;
}

.pane .title {
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-bar-text-color);
}

.pane .content {
  position: relative;
  overflow-y: scroll;
}

.panetext {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F0F1C0;
  padding: 15px;
  position: relative;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
}

.panetext ul li {
  padding: 10px;
}

/* add a corner in bottom right */
.pane .corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #000000;

  /* north west to south east */
  cursor: nwse-resize;

}
 



/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.dipped {
  transform: translateY(5px);
}

.basketball-svg > img:nth-child(1) {
  width: 3em;
  padding: 8px;
}


