/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #; 
  --color-text-main: #000000;
  --color-text-header: #f5e324;
  --color-primary: #FFFF00;
  --font-family: 'Courier', monospace;
  
  /* ADDED FROM PANES TUTORIAL*/
  
  --title-bar-height: 32px;


  --pane-default-width: 320px;
  --pane-default-height: 360px;
  --pane-border-radius: 8px;
}


/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  background-color: #0099E0;
    /* if outside of the window, clip */
  height: 100vh;
  overflow: clip;
}

/******************************************************************************
                    PANES TUTORIAL
******************************************************************************/

.pane {
  background-color: #F22C8C;
  position: absolute;
  width: var(--pane-default-width);
  height: var(--pane-default-height);
  display: grid;
  border: 8px solid #000000;
  overflow: clip;
  min-width: 160px;
  min-height: 160px;
  border-radius: 8px;
}

.pane .title {
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-bar-text-color);
}

.pane .content {
  position: relative;
  overflow-y: scroll;
}

.panetext {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F0F1C0;
  padding: 5px;
  position: relative;
  border-top: 4px solid #000000;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
}

/* add a corner in bottom right */
.pane .corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #ff1212;

  /* north west to south east */
  cursor: nwse-resize;

  /* background-color: red; */
}
 
.pane.is-dragging .title {
  background-color: #FFFFFF;
  color: #000000;
}

.pane.is-dragging {
  border: 8px solid #FFFFFF;
  box-shadow:  2px 2px #FFFFFF;
}


/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.dipped {
  transform: translateY(5px);
}

.basketball-svg > img:nth-child(1) {
  width: 3em;
  padding: 8px;
}


