/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #;
  --color-text-main: #000000;
  --color-text-header: #f5e324;
  --color-primary: #FFFF00;
  --font-family: "Subjectivity";
  --font-family-header: "Subjectivity";
  
  /* ADDED FROM PANES TUTORIAL*/
  
  --title-bar-height: 32px;


  --pane-default-width: 320px;
  --pane-default-height: 360px;
  --pane-border-radius: 8px;
}

/* Basic page style resets */




/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@font-face {
    font-family: 'Subjectivity';
    src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-BoldSlanted.otf?v=1732843119922') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SubjectivityMed';
    src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-MediumSlanted.otf?v=1732844680588') format('opentype');
    font-weight: medium;
    font-style: italic;
}




/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: 'Subjectivity';
  background-color: #f5efe0;
    /* if outside of the window, clip */
  height: 100vh;
  overflow: clip;
}

h1.title {
  font-family: 'Subjectivity';
}








/******************************************************************************
                   ADDED FROM PANES TUTORIAL
******************************************************************************/

/* reset defaults */


/* css variables */



h1 {
  color: var(--desktop-text-color);
  padding: 32px;
  font-size: 1.5rem;
}

.pane {
  position: absolute;
  width: var(--pane-default-width);
  height: var(--pane-default-height);

  display: grid;
  grid-template-rows: 32px 1fr;
  border: 8px solid #6ec470;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);

  overflow: clip;

  min-width: 160px;
  min-height: 160px;
}

.pane .title {
  cursor: move;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #6ec470;
  color: var(--title-bar-text-color);
}

.pane h2 {
  font-size: 1rem;
  font-weight: 400;
}

.pane .content {
  position: relative;
  background-color: #f5efe0;

}

.flower {  
  background-size: 200px; /* Ensure the background covers the entire div */
  background-repeat: repeat; /* Prevent repeating the background image */
  min-width: 400px;
}

.flower a {
  font-size: 14px;
}

.movegif img{
  background-size: 300px;
  background-repeat: repeat;
  
}

/* make image fill the space */
.pane .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: #f5efe0;

  object-fit: cover;

  -webkit-user-drag: none;
  user-drag: none;
}

.panetext {
  background-color: #f5efe0;
  margin: auto auto;
  width: 70%;
  padding: 5px;
  position: relative;
  top: 30px;
  border-top: 4px solid #32332b;
  border-right: 7px solid #32332b;
  border-bottom: 7px solid #32332b;
  border-left: 4px solid #32332b;
}

/* add a corner in bottom right */
.pane .corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #163617;
  border-radius: 20px;

  /* north west to south east */
  cursor: nwse-resize;

  /* background-color: red; */
}

.pane.is-dragging .title {
  background-color: #2f6130;
  color: #f5efe0;
}

.pane.is-dragging {
  border: 8px solid #2f6130;
}


/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}



