/******************************************************************************

******************************************************************************/


body {
  background-color: black;
  font-family: 'Courier', monospace;
}



.headertitlecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.computergirl img {
  max-width: 400px;
  position: fixed;
  z-index: -1;
}

.smallcardgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/*small card*/
.smallcard {
  background-color: black;
  cursor: pointer;
  border: 4px solid white;
}

.smallcard:hover {
  transform: translateY(-5px);
}

.smallcardtitle {
  background: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 32px;
  position: relative;
}

/* Big Card Layout */
.bigcard {
  display: none; /* Initially hidden */
  border: 2px solid blue;
  padding: 20px;
  margin-top: 10px;
  background-color: red;
}

.bigcardcontent {
  color: white;
}

.bigcard.visible {
  display: block; /* Show when active */
    width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.bigcard .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

.bigcard .close:hover {
  color: red;
}

table {
  width: 40%;
  height: 400px;
}

table, td {
  border: 1px solid white;
  padding: 10px;
}

tr {
  color:white
}

tr:hover {
  background-color: white;
  color: black;
}

tr .tablelink {
  color: white;
  text-align: center;
  justify-content: center;
}

tr:hover .tablelink {
  color: black;
}

tr .tablelink:hover {
  text-decoration: none;
}




/* Button dip*/
.dipped {
  transform: translateY(5px);
}

