/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #;
  --color-text-main: #000000;
  --color-text-header: #f5e324;
  --color-primary: #FFFF00;
  
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Subjectivity";
  --font-family-header: "Subjectivity";
}

/* Basic page style resets */



[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@font-face {
    font-family: 'Subjectivity';
    src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-BoldSlanted.otf?v=1732843119922') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SubjectivityMed';
    src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-MediumSlanted.otf?v=1732844680588') format('opentype');
    font-weight: medium;
    font-style: italic;
}

@font-face {
  font-family: 'SubjectivityLite';
  src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-LightSlanted.otf?v=1733181209520');
  font-weight: light;
  font-style: italic;
}


/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}



.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: 'Subjectivity';
  background-color: #000000;
}

h1.title {
  font-family: 'Subjectivity';
}

.computergirl img {
  max-width: 800px;
  position: fixed;
  z-index: -1;
}

/* Page structure */
.wrappertop {
  min-height: 50%(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  padding: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.wrappercont {
  max-width: 30vw;
  margin: 0 auto; /* Centers the div horizontally */
  text-align: center; /* Center text within the container */
  border-top: 4px solid #32332b;
  border-right: 7px solid #32332b;
  border-bottom: 7px solid #32332b;
  border-left: 4px solid #32332b;
  /* Generated by https://generator.ui.glass/ */
  backdrop-filter: blur(3px) saturate(134%);
  -webkit-backdrop-filter: blur(3px) saturate(134%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /* Generated by https://generator.ui.glass/ */
}


 /* background-image: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/dithered-image(2).png?v=1732866600231');
  background-size: contain;
  background-position: center; */


.wrappercont h2 {
  color: #ffffff;
  font-size: 32px;

}

.wrappercont p {
  font-size: 16px;
  color: #ffffff;


}

table, td {
  border: 1px solid white;
  padding: 5px;
}

tr:hover {
  background-color: white;
  color: black;
}

.cardtable a {
  color: white;
  font-size: 20px;
}

.td a:hover {
  color: black;
  font-size: 20px;
}

/* NEW BIG CARD LAYOUT*/
.vertical-text {
  writing-mode: vertical-rl; /* Makes text flow from top to bottom, right to left */
  text-orientation: mixed; /* Keeps each letter upright */
  transform: rotate(-180deg); /* Optional: flip the text if needed for readability */
  padding: 10px;
  border: 1px solid #ccc; /* Optional: For visualization */
}

.bigcardlayout-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.bigcardlayout-container.show {
  visibility: visible;
  opacity: 1;
}


.bigcardlayout {
  background: #000000;
  border-radius: 10px;
  min-height: 50vh; /* Ensures the popup is at least 50% of the viewport height */
  max-width: 90vw; /* Set maximum width to 75% of the viewport width */
  max-height: 75vh; /* Set maximum height to 75% of the viewport height */
  width: 50vw; /* Use 90% width for smaller screens if needed */
  min-width: 90%;
  height: 70vh;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Hide any overflowing content */
  display: grid;
  grid-template-columns: (300px, 1fr);
  grid-template-rows: 32px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.cpbar {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #f5efe0;
}

.cpimage { grid-area: 2 / 1 / 3 / 2; 
  background-size: contain; /* Ensure the entire image is visible without cropping */
  background-position: center;
  background-repeat: repeat;
  border-radius: 10px; /* Optional for rounded corners */
  padding: 10px;
}

.cpcontent {
  grid-area: 2 / 2 / 3 / 3;
  color: #f5efe0;
}

.cptags {  
  margin: auto;
  color: #f5efe0;
  font-family: 'SubjectivityLite';
}

.cptitle {  
  font-size: 42px;
  padding: 10px;
  justify-content: center;
  max-height: 100%;
  margin: auto auto; /* Automatically set equal margins left and right */
  color: #f5efe0;
}

.cpdescription {  
  margin-top: auto;
  font-family: 'SubjectivityMed';
  padding: 10px;
  justify-content: left;
  max-height: 90%;
  color: ;
}

.cplink { 
    color: #f5efe0;
    text-decoration: underline;
    position: absolute; /* Position the text absolutely within the container */
    text-align: center center;
    margin: auto;
    bottom: 5px;
}

.cplink:hover {
  text-decoration: none;
}

.cp-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #3038cf;
}
/* end NEW BIG CARD LAYOUT*/




.cardgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  background-color:;
  color: #32332b;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  text-align: center; /* Center text within the container */
  margin-top: 20px;  
}

/******************************************************************************
     NEW SMALL CARD LAYOUT
******************************************************************************/

.card {
  background-color: #f5efe0;
  background-size: repeat;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.1s;
  cursor: pointer;
  min-height: 300px;
  display: grid;
  display: grid;
  grid-template-columns: .25fr 2fr .25fr;
  grid-template-rows: .25fr 2fr .75fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px; 
  border-top: 2px solid #32332b;
  border-right: 8px solid #32332b;
  border-bottom: 8px solid #32332b;
  border-left: 2px solid #32332b;
  padding: 5px;

}

.card-background { 
 /*   grid-area: 1 / 1 / 4 / 4;*/
}




.card:hover {
  transform: translateY(-5px);
  box-shadow: ;
}

.cardbar { 
  grid-area: 1 / 1 / 2 / 4;
  background-color: #32332b;
  border-radius: 20px;
}

.card-image {
  width: 100%;
  height: 80%;
  background-color: ;
  background-size: contain;
  background-position: center bottom;
  background-repeat: ;
  margin: auto; /* Automatically set equal margins left and right */
  grid-area: 1 / 1 / 4 / 4;
  border-radius: 20px;
}

.card-title {
  background: #f5efe0;
  color: #32332b;
  align-content: center;
  justify-content: center;
  padding: ;
  font-weight: bold;
  font-size: 32px;
  grid-area: 3 / 2 / 4 / 3;
  border: 2px solid #32332b;
  border-radius: 10px;
  position: relative;
  bottom: 5px;
}

.cardbar { 
  grid-area: 1 / 1 / 2 / 4;
  background-color: #32332b;
  border-radius: 20px;
}

#card1 .card-image {
  background: #000000;
  background-size: cover;
  width: 100%;
  height: 80%;
  background-position: center;
}

#card1 .cardbar {
  background-color: #000000;
}




/******************************************************************************
    end  NEW SMALL CARD LAYOUT
******************************************************************************/



.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.popup-container.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #ffffff;
  border-radius: 10px;
  min-height: 50vh; /* Ensures the popup is at least 50% of the viewport height */
  max-width: 90vw; /* Set maximum width to 75% of the viewport width */
  max-height: 75vh; /* Set maximum height to 75% of the viewport height */
  width: 60vw; /* Use 90% width for smaller screens if needed */
  height: 70vh;
  padding: 15px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Hide any overflowing content */
  display: flex; /* Add flex layout to handle image and text sections */
  flex-direction: row; /* Place image and text side by side */
  align-items: center;
  justify-content: space-between;
}


.popup-image {
  background-color: ;
  width: 75%; /* Allow the image to take 50% of the popup width */
  max-width: 75vw; /* Maximum size to ensure responsiveness */
  height: 500px; /* Maintain aspect ratio */
  background-size: contain; /* Ensure the entire image is visible without cropping */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px; /* Optional for rounded corners */
}



.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #3038cf
}

.popup-content {
  color: #000000;
  background-color: #0ef1ed;
  width: 50%;
  padding: 5px; /* Add padding to give content more breathing room */
  height: ; /* Make sure content can expand naturally */
  overflow: auto; /* Allow scroll if content overflows */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Place tags at the bottom */
  height: 75%; /* Ensure it takes full height of the popup */

}

.popup-title {
  color: #000000;
  font-size: 48px;
}


.popup-tags {
  margin-top: auto; /* Push the element down if using flex-direction: column */
  margin-bottom: 20px; /* Set a fixed distance from the bottom */
  font-size: 12px;
}

.popup-link {
  color: #007bff;
  text-decoration: underline;
}

.popup-link:hover {
  text-decoration: none;
}




/* Center the heading */
.directoryheader {
  grid-row: 1; /* Place it in the first row of the grid */
  justify-self: center; /* Horizontally center within the grid container */
  align-self: center; /* Vertically center (if needed for spacing) */
}

.block {
  background-color: #FCACC7;
  color: #69F7BE;
  border-radius: 10px;
  padding: 10px;
  font-size: 150%;
  text-align: center; /* Center text within the container */
}

.notes {
  font-size: 80%;
  color: #647EBB;
}

.tags {
  font-size: 50%;
  color: #647EBB;
}



/* Very light scaling for our illustration */
.title {
  color: var(--color-text-header);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.intent {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
  padding: ;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #eec890;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* Links that open files in the editor */
.fileopener {
  cursor:pointer;
  font-weight:bold;
  border-bottom:3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom:3px solid var(--color-secondary);
}
