 :root {
    --green_darkest: #141414;
    --green_darker: #273B29;
    --green_mid: #4A6020;
    --green_main: #857D00;
    --greenish_yellow: #C89500;
    --yellow: #FFB166;
    --peach_lite: #FFE5DB;
    --plum_darkest: #2C2128;
    --plum_darker: #5B316B;
    --plum_main: #7C23E8;
    --purple_main: #6C7BFF;
    --blue_lite: #76B4FF;
    --blue_litest: #A8E0FF;

 }
 
 body {
            font-family: "Chivo Mono", monospace;
            background-color: var(--peach-lite);
        }
        p {
            margin: 0;
        }
        h2,
        h3 {
            font-family: "Chivo Mono", monospace;
            font-size: 3em;
            margin: 0;
            padding: 0;
        }

        .full-page {
            display: flex;
        }

        .main-sec {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: max-content;
            border: solid 3px #000;
            background-color: var(--peach_lite);
        }
        .opening-theme {
            background-color: var(--green_darkest);
            color: var(--peach_lite);
            width: 328px;
            padding: 12px;
            border-bottom: solid 2px #000;
        }
        .opening-theme h2 {
            font-weight: 600;
        }
        .opening-theme h4 {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 22px;
            margin-top: 1em;
            margin-bottom: .25em;
            font-weight: 300;
        }
        .opening-theme h3 {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 1em;
        }
        .update-section {
            background-color: var(--peach_lite);
            color: var(--green_darkest);
            /* border: 2px solid var(--green_darkest); */
            /* border-left: none; */
            width: 280px;
            font-style: italic;
            margin-top: 12px;
            margin: 8px;
        }
        .mobile-note {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 22px;
            margin-top: 1em;
        }
        .contact {
            margin-top: 2px;
            font-size: 18px;
            padding: 4px;

            max-width: 260px;
        }

        .last-updated {
            padding: 4px;
            display: flex;
            margin-top: 0.25em;
        }
        .lu-descrip {
            font-family: 'Chivo Mono', Courier, monospace;
            font-style: normal;
        }
        .nav-type-buttons {
        border: 2px solid var(--green_darker);
        }
        .nav-type-button {
            max-width: 30em;
            margin: 12px;
            padding: 8px;

            font-style: normal;

            display: flex;
            flex-direction: column;

            border: solid 2px #000000;
            border-radius: 16px;
            width: max-content;
        }

        .nav-type-button a {
            text-decoration: none;
            color: #000000;
            font-family: "Chivo Mono", monospace;
        }
        .nav-type-button a h2 {
            font-size: 18px;
            font-weight: 600;
        }

/*list type buttons container*/
.list-type-buttons {
    display: flex;
    flex-direction: column;
    color: var(--peach_lite);

    gap: 12px;
    margin: 12px;
}
/*list type button = buttons/links to pages that are listings ** */
        .list-type-button {
            margin-top: 1em;

            font-style: normal;

            display: flex;
            flex-direction: column;

            background-color: var(--green_darker);
            border: solid 3px var(--green_darkest);
            /*! width: max-content; */
        }

        .list-type-button a {
            text-decoration: none;
            color: #000000;
            font-family: "Chivo Mono", monospace;
        }
        .listing-button-text {
            background-color: var(--green_darker);
            color: var(--blue_litest);
            padding: 4px;
            font-family: "Chivo Mono", monospace;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;

            border-bottom: dotted 2px var(--green_darkest);
        }

        .listing-button-text:hover {
            font-size: 26px;
            box-shadow: none;
            color: blue;
            border-bottom: none;
        }

        .side-note {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 18px;
            margin-top: .5em;

            padding: 8px;

            max-width: 320px;
        }

        .side-note a {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;

            color: blue;
            text-decoration: underline;
        }

        .side-note a:hover {
            font-size: 20px;
            box-shadow: none;
        }

/*description type buttons container*/
.descrip-type-buttons {
    display: flex;
    flex-direction: column;

    margin: 12px;
}

.descrip-button-text {
    padding: .5em;
    font-family: "Chivo Mono", monospace;
    font-size: 18px;
    font-weight: 500;
}

.descrip-type-button {
    margin-top: 1em;

    font-style: normal;

    display: flex;
    flex-direction: column;

    border: solid 2px #000000;
    width: max-content;
}

        .descrip-full-note {
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;
            margin-top: .5em;

            max-width: 300px;
        }

        .descrip-full-note a {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;

            color: blue;
            text-decoration: underline;
        }
        .descrip-full-note {
            display: none;
        }
.descrip-type-button.active .descrip-full-note {
  display: flex;
}

/*W_ARTICLES*/
.w_articles_list {
    border: solid 3px #000;
    margin: 12px;
    padding: 12px;
    color: var(--peach_lite);
}


.list-type-button.w-articles {
            margin-top: 1em;

            font-style: normal;

            display: grid;
            /*! flex-direction: column; */

            background-color: var(--green_darker);
            border: solid 3px var(--green_darkest);
            /*! width: max-content; */
            grid-template-columns: 1fr .5fr .5fr .5fr .75fr;
        }

        .side-note.w-articles {
            font-size: 16px;
        }
.w-articles .listing-button-link {
    font-size: 20px;
    font-weight: 600;
}

.w-articles .listing-button-link a {
    color: blue;
}

.listing-button-tag {
  margin: 8px;
}