        body {
            font-family: "Chivo Mono", monospace;
            background-color: #e3e3e3;
        }
        p {
            margin: 0;
        }
        h2,
        h3 {
            font-family: "Chivo Mono", monospace;
            font-size: 3em;
            margin: 0;
            padding: 0;
        }

        .full-page {
            display: flex;
        }

        .main-sec {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: max-content;
            border: solid 3px #000;
        }
        .opening-theme {
            width: 328px;
            padding: 12px;
            border-bottom: solid 2px #000;
        }
        .opening-theme h2 {
            font-weight: 600;
        }
        .opening-theme h4 {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 22px;
            margin-top: 1em;
            margin-bottom: .25em;
            font-weight: 300;
        }
        .opening-theme h3 {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 1em;
        }
        .update-section {
            border: dashed 2px #000000;
            width: 280px;
            padding: .25em;
            font-style: italic;
            margin: auto;
            margin-top: 12px;
        }
        .mobile-note {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 22px;
            margin-top: 1em;
        }
        .contact {
            margin-top: 2px;
            font-size: 18px;
            padding: 4px;

            max-width: 260px;
        }

        .last-updated {
            padding: 4px;
            display: flex;
            margin-top: 0.25em;
        }
        .lu-descrip {
            font-family: 'Chivo Mono', Courier, monospace;
            font-style: normal;
        }

        .nav-type-button {
            max-width: 30em;
            margin: 12px;
            padding: 8px;

            font-style: normal;

            display: flex;
            flex-direction: column;

            border: solid 2px #000000;
            border-radius: 16px;
            width: max-content;
        }

        .nav-type-button a {
            text-decoration: none;
            color: #000000;
            font-family: "Chivo Mono", monospace;
        }
        .nav-type-button a h2 {
            font-size: 18px;
            font-weight: 600;
        }

/*list type buttons container*/
.list-type-buttons {
    display: flex;
    flex-direction: column;
}
/*list type button = buttons/links to pages that are listings ** */
        .list-type-button {
            margin-top: 1em;

            font-style: normal;

            display: flex;
            flex-direction: column;

            border: solid 2px #000000;
            /*! width: max-content; */
            border-right: none;
            border-left: none;
        }

        .list-type-button a {
            text-decoration: none;
            color: #000000;
            font-family: "Chivo Mono", monospace;
        }
        .listing-button-text {
            color: #000;
            padding: 4px;
            font-family: "Chivo Mono", monospace;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;

            border-bottom: solid 2px #000000;
        }

        .listing-button-text:hover {
            font-size: 26px;
            box-shadow: none;
            color: blue;
            border-bottom: none;
        }

        .side-note {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;
            margin-top: .5em;

            padding: 8px;

            max-width: 320px;
        }

        .side-note a {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;

            color: blue;
            text-decoration: underline;
        }

        .side-note a:hover {
            font-size: 20px;
            box-shadow: none;
        }

/*description type buttons container*/
.descrip-type-buttons {
    display: flex;
    flex-direction: column;

    margin: 12px;
}

.descrip-button-text {
    padding: .5em;
    font-family: "Chivo Mono", monospace;
    font-size: 18px;
    font-weight: 500;
}

.descrip-type-button {
    margin-top: 1em;

    font-style: normal;

    display: flex;
    flex-direction: column;

    border: solid 2px #000000;
    width: max-content;
}

        .descrip-full-note {
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;
            margin-top: .5em;

            max-width: 300px;
        }

        .descrip-full-note a {
            font-family: "Chivo Mono", system-ui;
            font-style: normal;
            font-size: 16px;

            color: blue;
            text-decoration: underline;
        }
        .descrip-full-note {
            display: none;
        }
.descrip-type-button.active .descrip-full-note {
  display: flex;
}