:root {
  background-color:  #0099E0;
  --color-text-main: #000000;
  --color-text-header: #000000;
  --font-family: "Inter", sans-serif;
  --font-family-header: "Inter", sans-serif;
}


[hidden] {
  display: none !important;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-thinitalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
} 

.inter-bolditalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 632;
  font-style: italic;
}


body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: var(--color-bg);
}

.wrapper {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  background-color: #F22C8C;
  border: 4px solid #000000;
  box-shadow: 4px 6px #000000;
}

h1.title {
  font-family: "Inter", sans-serif;
  font-style: italic;
  transform: skewX(-10deg);
  font-size: 60px;
  margin: 0;
  padding: 20px;
}

.wrapper .welcome-message {
      background-color: #FFE499;
      border: solid 2px #000000;
      box-shadow: 2px 2px #000000;
      border-radius: 4px;
      height: fit-content;
      margin: auto;
      margin-left: 60px;
      padding: 4px 20px 4px 20px;
}

.wrapper .welcome-message p {
        color: #000000;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
}

div.button-link {
  margin-right: 1em;
}

div.button-link button {
  background-color: #FFD000;
  font-size: 100%; 
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  font-family: 'Inter', sans-serif;
}

.home-body {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  height: 100%;
  padding: 15px;
  gap: 10px;
}

.home-window {
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 10px;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  box-shadow: 4px 6px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-description { 
  margin: 10px;
}

.dam1 {
  align-self: flex-start;
  max-width: 450px;
  background-color: #FFCC00;
  border-radius: 10px;
  padding: 10px;
  padding-top: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

  .dam1 h2 {
    color: #000000;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-style: italic;
  }

    .dam1 .header-description {
      border: solid 2px #000000;
      border-radius: 4px;
      padding: 10px;

    }

      .dam1 .header-description p {
        color: #000000;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: italic;
        font-size: 24px;
}

    .dam1 .header-note {
      border: solid 2px #000000;
      border-radius: 4px;
      padding: 10px;
      width: 70%;
    }

      .dam1 .header-note p {
        color: #000000;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
}


.icon-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.icon-img {
  width: 260px;
  height: 260px;
  display: block;
}

.icon-img:hover {
  transform: scale(1.05);
}

.home-window .dam3 {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}



.dam2 {
    max-width: fit-content;
    text-align: center;
  }

  .dam2 h1 {
    color: #e3e3e3;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-style: italic;
  }

  .dam2 .pagelinks {
    text-align: left;
  }


.w-kit-block-container {
  width: 100%;
  max-width: 600px;      /* responsive width */
  height: 230px;
  position: relative;
  aspect-ratio: 410 / 230;
}

.w-kit-bg {
  width: 161%;
  height: 186%;
  background: url('assets/icons/w-kit-block.svg') no-repeat center/contain;
  position: relative;
}

.w-kit-rect-overlay {
  position: absolute;
  left: 22%;
  top: 59.3%;
  width: 57%;
  height: 30.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.kit-icon-link {
  pointer-events: auto;
  width: 30%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.kit-icon-link img {
  width: 94%;
  height: 178%;
}
  

.pagelinks {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 20px;
}

.block {
  background-color: rgba(170, 41, 2, 0.897);
  color: #e3e3e3;
  border-radius: 2px;
  width: 250px;
  padding: 10px;
  font-size: 150%;
  border: 2px solid #e3e3e3;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.1s, border-color 0.1s, color 0.1s; /* Smooth transition */
}

.block:hover {
  background-color: #e3e3e3; /* Change background color on hover */
  color: rgba(170, 41, 2, 0.897); /* Change text color on hover */
  border-color: rgba(2, 170, 2, 0.897); /* Change border color on hover */
}

.dam3 {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  box-shadow: none;
}

div.home-window:nth-child(3) {
  margin-left: 250px;
}


.listed-card {
  --input-focus: #2d8cf0;
  --font-color: #A30034;
  --font-color-sub: #212121;
  --main-color: black;
  padding: 20px;
  background: #FFD6E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  height: fit-content;
}

.listed-card-title {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 32px;
}

.listed-card-title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.table-of-contents {
  font-family: monospace;
  font-size: 20px;
}
dl.table-of-contents .contents-list-item {
  display: flex;
  margin: 5px 0px 5px 0px;
}
dl.table-of-contents dt {
  flex: 0 1 auto;
  margin: 0px 0px 0px 0px;
  order: 1;
}
dl.table-of-contents .contents-list-item:after {
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 24%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0.5em 0.5rem;
  background-repeat: repeat-x;
  background-position: left bottom;
  content: "";
  display: block;
  flex: 1 1 auto;
  margin: 0px 12px 5px 12px;
  order: 2;
}
dl.table-of-contents dd {
  flex: 0 1 auto;
  margin: 0px 0px 0px 0px;
  order: 3;
}








.dipped {
  transform: translateY(5px);
}