[hidden] {
  display: none !important;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-thinitalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
} 

.inter-bolditalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 632;
  font-style: italic;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: #e3e3e3; /* #E3E3E3 - neutral bg #7F00FF - blue-purple ---- cant decide */
}

.opening-theme {
  display: flex;
  justify-content: center;
}

.lab-cynn {
  width: 50em;
  height: auto;
  margin: 2em;
  z-index: 2;
}

.cave {
  position: absolute;
  top: 0;
  right: 3em;
  height: 20em;
  justify-items: end;
}

.map {
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.courts { 
  grid-area: 1 / 2 / 9 / 3; 
  width: fit-content;
  height: fit-content;
}
.court {
  width: 30em;
}

.curio-city { 
  grid-area: 3 / 4 / 9 / 8;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.curio { 
  height: 50em;
}

.study-hall { 
  grid-area: 1 / 6 / 5 / 9;
  display: flex;
  justify-content: end;
}


.wall { 
  grid-area: 7 / 8 / 7 / 7; 
}

.decor-detail-top { 
  grid-area: 1 / 2 / 2 / 3; 
  width: fit-content;
  height: fit-content;
}

@media (max-width: 480px) {



      .map,
  .curio-city,
  .study-hall,
  .opening-theme {
    display: block !important;
  }
  .courts {
    display: block !important;
  }

    .cave {
      position: unset;
      height: 10em;
    }

    .lab-cynn {
      margin: 0; 
      width: 29em;
    }

    .court {
      width: 20em;
    }

    .curio {
      height: 30em;
    }
}









