
/* styles for individual wnba team stuff*/


.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rem-normal-fortext {  /*regular size, for regular text */
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;;
  font-style: normal;
}


.rem-italic-bolded {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* Favorite star */
.team-block.favorite .favorite-star {
  color: gold;
  position: absolute;
  top: 6px;
  right: 10px;
}

.hidden {
  display: none;
}







/* WNBA TEAM COLOR STYLES */





/* -------------------------PHOENIX MERCURY ----------------COLOR STYLES--------------- */
.team-block.mercury { 
  --mercuryacc-orange: #CB6015; /* ACCENT - ORANGE */
  --mercuryacc-blue: #201747; /* ACCENT - BLUE */
  --mercuryneu-lite: #B1B3B3; /* NEUTRAL - LIGHT */
  --mercuryneu-dark: #000000; /* NEUTRAL - DARK */
} 
  
.team-block.mercury {
  --court-main: var(--mercuryneu-lite);
  --court-boundbox-lines: var(--mercuryacc-orange);
  --court-main-lines: var(--mercuryacc-blue);
}



/* LOCATION, text color
.team-block.mercury .team-location { 
  color: var(--mercuryacc-blue); 
}*/

/* TEAM NAME, text color and styles */
.team-block.mercury .team-name { 
  color: var(--mercuryacc-blue);
  text-shadow: 4px 4px 0px var(--mercuryneu-lite);
}

/* BOTTOM BAR, color and styling */
.team-block.mercury .gdmatchup-facts.bottom-bar { 
  background: var(--mercuryneu-dark);
  color: var(--mercuryneu-lite);
  border-top: 3px dashed var(--mercuryacc-orange);
}



/* -------------------------ATLANTA DREAM ----------------COLOR STYLES--------------- */
.team-block.dream { 

  --dreamacc-red: #C8102E; /* ACCENT - RED */
  --dreamacc-blue: #418FDE; /* ACCENT - BLUE */
  --dreamneu-lite: #CED9E5; /* NEUTRAL - LIGHT */
  --dreamneu-dark: #0C2340; /* NEUTRAL - DARK */
}

.team-block.dream {
  --court-main: var(--dreamneu-lite);
  --court-boundbox-lines: var(--dreamacc-blue);
  --court-main-lines: var(--dreamacc-red);
}

/* LOCATION, text color
.team-block.dream .team-location { 
  color: var(--dreamacc-red); 
}*/

/* TEAM NAME, text color and styles */
.team-block.dream .team-name { 
  color: var(--dreamneu-dark);
  text-shadow: 4px 4px 0px var(--dreamacc-red);
}
/* BOTTOM BAR, color and styling */
.team-block.dream .gdmatchup-facts.bottom-bar { 
  background: var(--dreamneu-dark);
  color: var(--dreamneu-lite);
  border-top: 3px dashed var(--dreamacc-red);
}



/* -------------------------SEATTLE STORM----------------COLOR STYLES--------------- */
.team-block.storm { 
  --stormacc-yellow: #FEE11A; /* ACCENT - YELLOW */
  --stormacc-green: #62BB46; /* ACCENT - WHITE */
  --stormneu-lite: #FFFFFF; /* NEUTRAL - LIGHT */
  --stormneu-dark: #2C5234; /* NEUTRAL - DARK */
  

} 

.team-block.storm {
  --court-main: var(--stormacc-yellow);
  --court-boundbox-lines: var(--stormacc-green);
  --court-main-lines: var(--stormneu-dark);
}

/* LOCATION, text color
.team-block.storm .team-location { 
  color: var(--stormneu-dark); 
}*/

/* TEAM NAME, text color and styles */
.team-block.storm .team-name { 
  color: var(--stormneu-dark);
  text-shadow: 4px 4px 0px var(--stormacc-yellow);
}

/* BOTTOM BAR, color and styling */
.team-block.storm .gdmatchup-facts.bottom-bar { 
  background: var(--stormneu-dark);
  color: var(--stormacc-yellow);
  border-top: 3px dashed var(--stormneu-lite);
}



/* -------------------------LAS VEGAS ACES----------------COLOR STYLES--------------- */
.team-block.aces { 
  --acesacc-red: #BA0C2F; /* ACCENT - RED */
  --acesacc-gold: #85714D; /* ACCENT - GOLD */
  --acesneu-lite: #8A8D8F; /* NEUTRAL - LIGHT */
  --acesneu-dark: #000000; /* NEUTRAL - DARK */
  
} 

.team-block.aces {
  --court-main: var(--acesneu-lite);
  --court-boundbox-lines: var(--acesacc-red);
  --court-main-lines: var(--acesacc-gold);
}

/* LOCATION, text color
.team-block.aces .team-location { 
  color: var(--acesneu-dark); 
}*/

/* TEAM NAME, text color and styles */
.team-block.aces .team-name { 
  color: var(--acesneu-dark);
  text-shadow: 4px 4px 0px var(--acesacc-red);
}

/* BOTTOM BAR, color and styling */
.team-block.aces .gdmatchup-facts.bottom-bar { 
  background: var(--acesneu-lite);
  color: var(--acesneu-dark);
  border-top: 3px dashed var(--acesacc-red);
}



/* -------------------------NEW YORK LIBERTY----------------COLOR STYLES--------------- */
.team-block.liberty { 
  --libertyacc-orange: #C07D59; /* ACCENT - ORANGE */ 
  --libertyacc-blue: #86cebc; /* ACCENT - BLUE */
  --libertyneu-lite: #FFFFFF; /* NEUTRAL - LIGHT */
  --libertyneu-dark: #061922; /* NEUTRAL - DARK */
  
} 

.team-block.liberty {
  --court-main: var(--libertyacc-blue);
  --court-boundbox-lines: var(--libertyacc-orange);
  --court-main-lines: var(--libertyneu-dark);
}

/* LOCATION, text color
.team-block.liberty .team-location { 
  color: var(--libertyacc-blue); 
}*/

/* TEAM NAME, text color and styles */
.team-block.liberty .team-name { 
  color: var(--libertyneu-dark);
  text-shadow: 4px 4px 0px var(--libertyacc-orange);
}

/* BOTTOM BAR, color and styling */
.team-block.liberty .gdmatchup-facts.bottom-bar { 
  background: var(--libertyacc-blue);
  color: var(--libertyneu-dark);
  border-top: 3px dashed var(--libertyneu-lite);
}



/* -------------------------DALLAS WINGS----------------COLOR STYLES--------------- */
.team-block.wings { 
  --wingsacc-green: #C4D600; /* ACCENT - LIME GREEN */
  --wingsacc-blue: #2345A5; /* ACCENT - BLUE */
  --wingsneu-lite: #00A8E1; /* NEUTRAL - LIGHT */
  --wingsneu-dark: #002B5C; /* NEUTRAL - DARK */
  
} 

.team-block.wings {
  --court-main: var(--wingsacc-green);
  --court-boundbox-lines: var(--wingsacc-blue);
  --court-main-lines: var(--wingsneu-dark);
}

/* LOCATION, text color
.team-block.wings .team-location { 
  color: var(--wingsneu-dark); 
}*/

/* TEAM NAME, text color and styles */
.team-block.wings .team-name { 
  color: var(--wingsneu-dark);
  text-shadow: 4px 4px 0px var(--wingsneu-lite);
}

/* BOTTOM BAR, color and styling */
.team-block.wings .gdmatchup-facts.bottom-bar { 
  background: var(--wingsneu-dark);
  color: var(--wingsacc-green);
  border-top: 3px dashed var(--wingsneu-lite);
}



/* -------------------------CHICAGO SKY----------------COLOR STYLES--------------- */
.team-block.sky { 
  --skyacc-yellow: #ffd520; /* ACCENT - YELLOW */
  --skyacc-blue: #5091cd; /* ACCENT - BLUE */
  --skyneu-lite: #FFFFFF; /* NEUTRAL - LIGHT */
  --skyneu-dark: #000000; /* NEUTRAL - DARK */
  
} 

.team-block.sky {
  --court-main: var(--skyacc-blue);
  --court-boundbox-lines: var(--skyacc-yellow);
  --court-main-lines: var(--skyneu-dark);
}

/* LOCATION, text color
.team-block.sky .team-location { 
  color: var(--skyacc-blue); 
}*/

/* TEAM NAME, text color and styles */
.team-block.sky .team-name { 
  color: var(--skyneu-dark);
  text-shadow: 4px 4px 0px var(--skyacc-yellow);
}

/* BOTTOM BAR, color and styling */
.team-block.sky .gdmatchup-facts.bottom-bar { 
  background: var(--skyneu-lite);
  color: var(--skyneu-dark);
  border-top: 3px dashed var(--skyacc-blue);
}



/* -------------------------INDIANA FEVER----------------COLOR STYLES--------------- */
.team-block.fever { 
  --feveracc-red: #e03a3e; /* ACCENT - RED */
  --feveracc-blue: #ffd520; /* ACCENT - YELLOW */
  --feverneu-lite: #FFFFFF; /* NEUTRAL - LIGHT */
  --feverneu-dark: #002d62; /* NEUTRAL - DARK */
  
} 

.team-block.fever {
  --court-main: var(--feverneu-lite);
  --court-boundbox-lines: var(--feveracc-red);
  --court-main-lines: var(--feveracc-blue);
}

/* LOCATION, text color
.team-block.fever .team-location { 
  color: var(--feveracc-red); 
}*/

/* TEAM NAME, text color and styles */
.team-block.fever .team-name { 
  color: var(--feverneu-dark);
  text-shadow: 4px 4px 0px var(--feveracc-blue);
}

/* BOTTOM BAR, color and styling */
.team-block.fever .gdmatchup-facts.bottom-bar { 
  background: var(--feveracc-red);
  color: var(--feverneu-dark);
  border-top: 3px dashed var(--feverneu-lite);
}



/* -------------------------WASHINGTON MYSTICS----------------COLOR STYLES--------------- */
.team-block.mystics { 
  --mysticsacc-red: #e03a3e; /* ACCENT - RED */
  --mysticsacc-blue: #002b5c; /* ACCENT - BLUE */
  --mysticsneu-lite: #c4ced4; /* NEUTRAL - LIGHT */
  --mysticsneu-dark: #000000; /* NEUTRAL - DARK */
  
} 

.team-block.mystics {
  --court-main: var(--mysticsneu-lite);
  --court-boundbox-lines: var(--mysticsacc-blue);
  --court-main-lines: var(--mysticsacc-red);
}


/* LOCATION, text color
.team-block.mystics .team-location { 
  color: var(--mysticsacc-red); 
}*/

/* TEAM NAME, text color and styles */
.team-block.mystics .team-name { 
  color: var(--mysticsacc-blue);
  text-shadow: 3px 3px 0px var(--mysticsneu-dark);
} 

/* BOTTOM BAR, color and styling */
.team-block.mystics .gdmatchup-facts.bottom-bar { 
  background: var(--mysticsacc-blue);
  color: var(--mysticsacc-red);
  border-top: 3px dashed var(--mysticsneu-lite);
}



/* -------------------------LOS ANGELES SPARKS----------------COLOR STYLES--------------- */
.team-block.spark { 
  --sparkacc-purple: #552583; /* ACCENT - PURPLE */
  --sparkacc-yellow: #fdb927; /* ACCENT - YELLOW */
  --sparkneu-lite: #00a997; /* NEUTRAL - LIGHT */
  --sparkneu-dark: #000000; /* NEUTRAL - DARK */
  
} 

.team-block.spark {
  --court-main: var(--sparkacc-purple);
  --court-boundbox-lines: var(--sparkacc-yellow);
  --court-main-lines: var(--sparkneu-dark);
}

/* LOCATION, text color
.team-block.spark .team-location { 
  color: var(--sparkacc-yellow); 
}*/

/* TEAM NAME, text color and styles */
.team-block.spark .team-name { 
  color: var(--sparkacc-yellow);
  text-shadow: 4px 4px 0px var(--sparkneu-dark);
}

/* BOTTOM BAR, color and styling */
.team-block.spark .gdmatchup-facts.bottom-bar { 
  background: var(--sparkacc-purple);
  color: var(--sparkacc-yellow);
  border-top: 3px dashed var(--sparkneu-lite);
}



/* -------------------------MINNESOTA LYNX----------------COLOR STYLES--------------- */
.team-block.lynx { 
  --lynxacc-blue: #266092; /* ACCENT - BLUE */
  --lynxacc-green: #79bc43; /* ACCENT - GREEN */
  --lynxneu-lite: #a0a2a3; /* NEUTRAL - LIGHT */
  --lynxneu-dark: #0c233f; /* NEUTRAL - DARK */
  
} 

.team-block.lynx {
  --court-main: var(--lynxneu-lite);
  --court-boundbox-lines: var(--lynxacc-blue);
  --court-main-lines: var(--lynxacc-green);
}


/* LOCATION, text color
.team-block.lynx .team-location { 
  color: var(--lynxacc-blue); 
}*/

/* TEAM NAME, text color and styles */
.team-block.lynx .team-name { 
  color: var(--lynxneu-dark);
  text-shadow: 4px 4px 0px var(--lynxacc-green);
}

/* BOTTOM BAR, color and styling */
.team-block.lynx .gdmatchup-facts.bottom-bar { 
  background: var(--lynxacc-green);
  color: var(--lynxneu-dark);
  border-top: 3px dashed var(--lynxneu-lite);
}



/* -------------------------CONNECTICUT SUN----------------COLOR STYLES--------------- */
.team-block.sun { 
  --sunacc-orange: #f05023; /* ACCENT - ORANGE */
  --sunacc-blue: #0a2240; /* ACCENT - BLUE */
  --sunneu-lite: #FFC72C; /* NEUTRAL - LIGHT */
  --sunneu-dark: #643335; /* NEUTRAL - DARK */
  
} 

.team-block.sun {
  --court-main: var(--sunneu-lite);
  --court-boundbox-lines: var(--sunacc-blue);
  --court-main-lines: var(--sunacc-orange);
}

/* LOCATION, text color
.team-block.sun .team-location { 
  color: var(--sunneu-lite); 
}*/

/* TEAM NAME, text color and styles */
.team-block.sun .team-name { 
  color: var(--sunacc-blue);
  text-shadow: 4px 4px 0px var(--sunneu-lite);
}

/* BOTTOM BAR, color and styling */
.team-block.sun .gdmatchup-facts.bottom-bar { 
  background: var(--sunacc-blue);
  color: var(--sunneu-lite);
  border-top: 3px dashed var(--sunacc-orange);
}



/* -------------------------GOLDEN STATE VALKYRIES----------------COLOR STYLES--------------- */
.team-block.valkyries { 
  --valkyriesacc-purple: #c597d7; /* ACCENT - PURPLE */
  --valkyriesacc-tan: #b8965b; /* ACCENT - TAN */
  --valkyriesneu-lite: #FFFFFF; /* NEUTRAL - LIGHT */
  --valkyriesneu-dark: #000000; /* NEUTRAL - DARK */
  
} 

.team-block.valkyries {
  --court-main: var(--valkyriesacc-tan);
  --court-boundbox-lines: var(--valkyriesacc-purple);
  --court-main-lines: var(--valkyriesneu-dark);
}

/* LOCATION, text color
.team-block.valkyries .team-location { 
  font-size: 2.3em; 
  color: var(--valkyriesneu-dark); 
}*/

/* TEAM NAME, text color and styles */
.team-block.valkyries .team-name { 
  color: var(--valkyriesneu-dark);
  text-shadow: 4px 4px 0px var(--valkyriesacc-purple);
}

/* BOTTOM BAR, color and styling */
.team-block.valkyries .gdmatchup-facts.bottom-bar { 
  background: var(--valkyriesacc-purple);
  color: var(--valkyriesneu-dark);
  border-top: 3px dashed var(--valkyriesacc-tan);
}