/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #;
  --color-text-main: #000000;
  --color-text-header: #f5e324;
  --color-primary: #FFFF00;
  
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Subjectivity";
  --font-family-header: "Subjectivity";
}

/* Basic page style resets */



[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@font-face {
    font-family: 'Subjectivity';
    src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-BoldSlanted.otf?v=1732843119922') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SubjectivityMed';
    src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-MediumSlanted.otf?v=1732844680588') format('opentype');
    font-weight: medium;
    font-style: italic;
}

@font-face {
  font-family: 'SubjectivityLite';
  src: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/Subjectivity-LightSlanted.otf?v=1733181209520');
  font-weight: light;
  font-style: italic;
}


/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}



.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: 'Subjectivity';
  background-color: #000000;
}

h1.title {
  font-family: 'Subjectivity';
}

h2 {
  color: white;
}

.computergirl img {
  max-width: 800px;
  position: fixed;
  z-index: -1;
}

/* Page structure */
.wrappertop {
  min-height: 50%(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  padding: 20px;
}

.headertitlecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.wrappercont {
  max-width: 30vw;
  margin: 0 auto; /* Centers the div horizontally */
  text-align: center; /* Center text within the container */
  border-top: 4px solid #32332b;
  border-right: 7px solid #32332b;
  border-bottom: 7px solid #32332b;
  border-left: 4px solid #32332b;
  /* Generated by https://generator.ui.glass/ */
  backdrop-filter: blur(3px) saturate(134%);
  -webkit-backdrop-filter: blur(3px) saturate(134%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /* Generated by https://generator.ui.glass/ */
}

.wrappercont h2 {
  color: #ffffff;
  font-size: 32px;
}

.wrappercont p {
  font-size: 16px;
  color: #ffffff;
}

table {
  width: 40%;
  height: 400px;
}

table, td {
  border: 1px solid white;
  padding: 10px;
}

tr {
  color:white
}

tr:hover {
  background-color: white;
  color: black;
}

tr .tablelink {
  color: white;
  text-align: center;
  justify-content: center;
}

tr:hover .tablelink {
  color: black;
}

tr .tablelink:hover {
  text-decoration: none;
}

.review {
  font-family: 'SubjectivityLite';
}

/******************************************************************************
    NEW MODAL CARD SETUP
******************************************************************************/


.smallcardgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/*small card*/
.smallcard {
  background-color: black;
  transition: transform 0.1s;
  cursor: pointer;
  border: 4px solid white;
}

.smallcard:hover {
  transform: translateY(-5px);
  box-shadow: ;
}

.smallcardtitle {
  background: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 32px;
  position: relative;
}

/* behind the modal/bigcard */
.bigcard {
  display: none; /* Hidden by default */
  position: relative; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-left: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* all the stuff inside the bigcard */
.bigcardcontent {
  background-color: black;
  border: 1px solid #888888;
}

.bigcard.show {
  display: flex; /* Show modal with flexbox to center it */
  width: 80%;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

#smallcard1 {
  background-image: url('https://cdn.glitch.global/f2fb7d0f-1059-40bd-8a52-8cb00efc9022/circle_stipple_dither-removebg-preview.png?v=1733176338965');
  background-size: 200px;
  background-repeat: repeat;
}

#bigcard1 {
  
}

#bigcard1 .card-title {
  color: white;
  font-size: 40px;
  margin: 0, 0;
}

.bigcard1header {
  display: flex;
}

.bigcard1textblock {
  width: 200px;
  padding: 5px;
  align-content: center;
  text-align: center;
  color: white;
}

.tablesection {
  display: flex;
  padding: 10px;
}

.cardtable {
  width: fit-content;
  overflow-y: scroll;
  padding: 10px;
  box-shadow: inset 2px 2px #999999;
}

.tablewindow {
 
  overflow-y: auto;
  background-color: #000000;
  padding: 10px;
  box-shadow: inset 2px 2px #999999;
}

.current-teams-grid {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  align-items: flex-start; 
    /* flex-flow: row; */ 
  flex-direction: row; 
  padding: 15px;
  gap: 5px;
}

.content {
  display: none;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #ffffff;
  box-shadow: 2px 2px #999999;
  margin: 0, auto;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#content2 {
  color: white;
}

#content2 p {
  font-family: 'SubjectivityLite';
}


/******************************************************************************
          END SWITCHING TO MODALS
******************************************************************************/




/* Very light scaling for our illustration */
.title {
  color: var(--color-text-header);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.intent {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
  padding: ;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* Links that open files in the editor */
.fileopener {
  cursor:pointer;
  font-weight:bold;
  border-bottom:3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom:3px solid var(--color-secondary);
}
