	.intro {
		font-family: "Chivo Mono", monospace;
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
	}
	.bullet-list p {
		padding: 0;
		margin: 0;
	}
	.bullet-list {
		display: flex;
		flex-direction: column;
		font-family: "Chivo Mono", monospace;
		font-size: 16px;
		font-weight: 300;
	}
	.bullet {
		padding: 12px;
		margin: 6px;
		border: solid 1.5px #000000;
		border-radius: 6px;
		width: fit-content;

		display: flex;
		flex-direction: column;
		gap: 12px
	}
	.bullet h3 {
		padding: 0;
		margin: 0;
	}