[hidden] {
  display: none !important;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-thinitalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
} 

.inter-bolditalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 632;
  font-style: italic;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: #e3e3e3; /* #E3E3E3 - neutral bg #7F00FF - blue-purple ---- cant decide */
  cursor: url('/assets/lab-cynn/cursor-default.png') 16 16, auto;
}

h1, h2, h3, h4, h5, h6 {

  margin: 0;
  padding: 0;
}

.top_title_wrap h1 {
  font-style: oblique;
  font-size: 5.5em;
}
.top_title_wrap h3 {
  font-size: 2.0em;
}



