.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-thinitalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
} 

.inter-bolditalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 632;
  font-style: italic;
}
 
body {
  background-image: url(/assets/lab-cynn/court-bg.png);
  display: flex;
  justify-content: center;
}

.break-down-card {
  font-family: Montserrat, sans-serif;
  height: fit-content;
  background: #d9bff3;
  border: 3px solid #000000;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 60%;
  margin-top: 3em;
}

.header {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 900;
  width: 100%;
  height: 15%;
  background: #ffffff;
  padding: 5px 12px; 
  color: #000000;
  border-bottom: 3px solid #000000;
  align-items: center;
  display: flex;
  gap: 1em;
}

.content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
}

.button {
  padding: 5px 10px;
  margin-left: 20px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: #4ade80;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: #1ac2ff;
}

.button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

.card:hover {
  translate: -6px;
}


.expand-content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.break-down-card.expanded .expand-content {
  max-height: fit-content; 
  opacity: 1;
  margin-top: 10px;
}

.deck-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s, background 0.2s;
  padding: 0.5rem;
}


.active-deck-row {
  display: flex;
}


.player-cards-container {
  display: flex;
  overflow: auto;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-active-row {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
  margin-left: 1rem;
  align-self: flex-start;
}

.close-active-row:hover {
  color: #e53935;
}

.player-card img {
  width: 200px;   
  height: auto;
  max-height: 300px; /* optional: limit height */
  display: block;
}



.dipped {
  transform: translateY(5px);
}


