.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-thinitalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
} 
.inter-bolditalic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 632;
  font-style: italic;
} 
.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.main-content {
    display: flex;
    gap: 1em;
}

/**...................general ticket styles....................*/   
.ticket {
    display: grid;
    cursor: default;
    grid-template-columns: 1fr auto;
    width: 750px;
    border-radius: 4px;
    filter: saturate(105%)
}
.ticket__main {
    display: grid;
    grid-template-rows: repeat(4, min-content) auto;
    background: #f3f1c9;
}
.info {
    border: solid 3px;
    padding: 4px;
}
.info__item {
    font:
        400 13px "Questrial",
        sans-serif;
    letter-spacing: 0.5px;
}
.info__detail {
    letter-spacing: 1px;
    margin: .25em;
}
.ticket .ticket-header {
  border-bottom: solid 4px var(--team-accent);
}
.team-name {
    display: flex;
    text-transform: uppercase;
}
.team-name p {
    font: 40px "Inter", sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: -3px;
}
.ticket .info-section .info {
  border: solid 1px var(--team-accent, #000000);
}
.fineprint {
    display: flex;
    flex-direction: column;
    grid-column-start: span 8;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    border-top: 2px dashed;
    height: 6em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 16px;
    padding-left: 3px;
    margin-left: 6px;
}
.fineprint p {
    margin-top: 6px;
    margin-bottom: 6px;
}
.fineprint p:nth-child(2) {
    margin: 4px 4px 0 0;
    padding-top: 4px;
    border-top: 1.5px dotted;
    font: 11px/1 "Roboto Mono", monospace;
}
.ticket__tearaway {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8em;
    font-family: "roboto-mono", monospace;
}
.ticket__tearaway .logo {
    text-align: center;
    position: relative;
}
.logo > div:nth-child(1) > img:nth-child(1) {
  width: 5em;
  opacity: 90%;
  align-content: center;
  align-items: center;
}
.ticket__tearaway .info {
    background-color: #f3f1c9;
    /* width: 85%; */
    width: 75%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.ticket__tearaway .info__detail {
    font-size: 12px;
    margin: 0 2px 0 0;
    letter-spacing: 0px;
    text-align: center;
}
.ticket__tearaway .info.tearaway-team-name {
    margin-top: 10px;
    border-bottom: none;
}
.ticket__tearaway .info.tearaway-conference,
.ticket__tearaway .info.tearaway-conf-rank-label,
.ticket__tearaway .info.tearaway-overall-rank-label,
.ticket__tearaway .info.tearaway-date {
    border-bottom: none;
}
.ticket__tearaway .info.tearaway-time {
    margin-bottom: 10px;
}
.ticket.away .team-away,
.ticket.home .team-home {
    border: none;
    align-content: center;
    font-family: "roboto-mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fineprint {
  display: none;
}

/*......................TICKET COLOR STYLES - TEAMS*/


.ticket .ticket-header {
    background: var(--team-secondary, #f3f1c9);
}
.ticket .team-name p {
    color: var(--team-primary, #000000);
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: -3px;
}
.ticket .team-home,
.ticket .team-away {
    color: var(--team-primary, #f3f1c9);
}
.ticket.home .ticket__tearaway {
    border-left: 4px dashed var(--team-secondary, #f3f1c9);
    background-color: var(--team-primary, #000000);
}
.ticket.away .ticket__tearaway {
    border-right: 4px dashed var(--team-secondary, #f3f1c9);
    background-color: var(--team-primary, #000000);
}
.ticket .ticket__tearaway .info {
    border: 3px solid var(--team-primary, #000000);
}
.ticket .info-section .info{
    border: solid 2px var(--team-secondary, #000000);
}





/*...........specific team ticket header color styles*/

/*minnesota lynx*/
.ticket[data-team="MIN"] .team-name p {
    color: var(--team-accent, #b2b3b3);
}
.ticket[data-team="MIN"] .team-home {
    color: var(--team-accent, #b2b3b3);
}
.ticket[data-team="MIN"] .team-away {
    color: var(--team-accent, #b2b3b3);
}
.ticket[data-team="MIN"] .ticket__tearaway {
    background-color: var(--team-accent, #b2b3b3);
    border-color: var(--team-secondary, #f3f1c9);
}
.ticket[data-team="MIN"] .ticket__tearaway .info {
    border: 3px solid var(--team-accent, #000000);
}

/*golden state valkyries*/
.ticket[data-team="GSV"] .ticket-header {
    background-color: var(--team-primary, black);
}
.ticket[data-team="GSV"] .ticket-header .team-name p { /*adjusting the font size for GSV*/
    font: 36px "Inter", sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: -3px;
}
.ticket[data-team="GSV"] .ticket-header .team-name p {
    color: var(--team-accent)
}
.ticket[data-team="GSV"] .team-home {
    color: var(--team-accent, #b2b3b3);
}
.ticket[data-team="GSV"] .team-away {
    color: var(--team-accent, #b2b3b3);
}
.ticket[data-team="GSV"] .ticket__tearaway {
    background-color: var(--team-secondary, #f3f1c9);
    border-color: var(--team-primary, #000000);
}
.ticket[data-team="GSV"] .ticket__tearaway .info {
    border: 3px solid var(--team-secondary, #000000);
}

/*dallas wings*/
.ticket[data-team="DAL"] .ticket-header {
    background-color: var(--team-secondary, #b2b3b3);
}
.ticket[data-team="DAL"] .team-name p {
    color: var(--team-primary, #b2b3b3);
}
.ticket[data-team="DAL"] .team-home {
    color: var(--team-primary, #b2b3b3);
}
.ticket[data-team="DAL"] .team-away {
    color: var(--team-primary, #b2b3b3);
}
.ticket[data-team="DAL"] .ticket__tearaway {
    background-color: var(--team-accent, #b2b3b3);
    border-color: var(--team-secondary, #f3f1c9);
}
.ticket[data-team="DAL"] .ticket__tearaway .info {
    border: 3px solid var(--team-accent, #000000);
}

/*connecticut sun*/
.ticket[data-team="CON"] .ticket-header {
    background-color: var(--team-accent, #b2b3b3);
}
.ticket[data-team="CON"] .team-name p {
    color: var(--team-secondary, #b2b3b3);
}
.ticket[data-team="CON"] .team-home {
    color: var(--team-secondary, #b2b3b3);
}
.ticket[data-team="CON"] .team-away {
    color: var(--team-secondary, #b2b3b3);
}
.ticket[data-team="CON"] .ticket__tearaway {
    border-color: var(--team-accent, #f3f1c9);
}

/*las vegas aces*/
.ticket[data-team="LVA"] .ticket-header {
    background-color: var(--team-accent, black);
}
.ticket[data-team="LVA"] .ticket__tearaway {
    border-color: var(--team-accent, #f3f1c9);
}




/*....................home ticket FORMATS........................*/
.ticket.home{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ticket.home .ticket__main {
    grid-template-columns: 2fr 1fr .5fr;
      /* display: grid; */
    grid-column: 1;
    border: solid 4px var(--team-accent);
}
.ticket.home .ticket-header {
    display: flex;
    grid-area: 1 / 1 / 2 / 5;
    max-height: 86px;
}
.ticket.home .team-name {
    align-items: center;
    width: 40em;
    justify-content: center;
}
.ticket.home .team-name p {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
}
.ticket.home .team-home {
    max-width: 4em;
}
.ticket.home .info-section {
    grid-column: 1 / span 3;
    text-align: left;
    grid-row: 2 / span 3;
}
.ticket.home .info.date  {
    border-left: none;
    border-bottom: none;
    border-top: none;
}
.ticket.home .info.time {
    border-left: none;
    border-bottom: none;
}
.ticket.home .info.conference {
    border-left: none;
    border-bottom: none;
}
.ticket.home .info.win-loss-record {
    border-left: none;
}
.ticket.home .logo-container {
    grid-row: 2;
    grid-column: 4 / span 1;
    width: 12em;
    border-bottom: none;
    border-left: none;
}

/**....................home ticket STYLES..................**/

/**...... home tearaway ticket FORMATS........................*/
.ticket.home .ticket__tearaway {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-column: 2;
}
.ticket.home .ticket__tearaway .info {
    border-radius: 9px;

}
.ticket.home .ticket__tearaway .info.tearaway-team-name,
.ticket.home .ticket__tearaway .info.tearaway-conference,
.ticket.home .ticket__tearaway .info.tearaway-conf-rank-label,
.ticket.home .ticket__tearaway .info.tearaway-overall-rank-label,
.ticket.home .ticket__tearaway .info.tearaway-date,
.ticket.home .ticket__tearaway .info.tearaway-time {
    text-align: right;
}

/**...... home tearaway ticket STYLES........................*/

/**...... AWAY TICKET FORMATS........................*/
.ticket.away .ticket__tearaway {    
    grid-row: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.ticket.away .ticket__tearaway .info {
    border-radius: 9px;
}

/**...... away tearaway ticket STYLES........................*/





/*............away ticket FORMATS...................*/
.ticket.away {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.ticket.away .ticket__main {
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    border: solid 4px var(--team-accent);
}
.ticket.away .ticket-header {
    display: flex;
    grid-column: 1 / 4;
    min-height: 70px;
}
.ticket.away .team-away {
    border-bottom: none;
    border: none;
    max-width: 4em;
    text-align: right;
}
.ticket.away .team-name {
    align-items: center;
    width: 40em;
    justify-content: center;
}
.ticket.away .team-name p {
    margin: 0;
    padding: 0;
}
.ticket.away .logo-container {
    /* width: 16em; */
    /* grid-area: 2 / 1 / 4 / 3; */
    width: 12em;
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
}
div.logo-container:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
  margin-right: 0;
}
.ticket.away .info-section {
    text-align: right;
    /* grid-area: 2 / 3 / 4 / 4; */
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
}
.ticket.away .info.date  {
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.ticket.away .info.time {
    border-bottom: none;
    border-right: none;
}
.ticket.away .info.conference {
    border-bottom: none;
    border-right: none;
}
.ticket.away .info.win-loss-record {
    border-right: none;
}
.ticket.away .fineprint {
    text-align: right;
}
.ticket.away .fineprint p {
    padding-right: .5em;
}
.ticket-header-label { display: block; 
}
.ticket-tearaway-label { display: none; 
}

/*............away ticket STYLES...................*/



/*responsive stuff*/
@media (max-width: 900px) {
    .ticket.away {
    grid-template-columns: 1fr auto;
    }
    .ticket__main {
    grid-area: auto;
    }
    .ticket.home .ticket__main {
    grid-row: auto;
    grid-column: auto;
    display: grid;
    }
    .ticket.home .ticket-header {
    display: flex;
    grid-column: 1 / 4;
    min-height: 70px;
    }
    .ticket.away .ticket-header {
    display: flex;
    grid-column: 1 / 4;
    min-height: 70px;
    }
    .info__detail {
    /* margin: .25em; */
    font-size: 14px;
    }
    .ticket.home .team-home {
    width: 8em;
    max-width: 8.5em;
    border-bottom: solid #f3f1c9;
    }
    .ticket.away .team-away {
    width: 8em;
    max-width: 8.5em;
    border-bottom: solid #f3f1c9;
    }
    .ticket.home .ticket__tearaway .ticket-tearaway-label .info__detail {
    color: var(--team-secondary, #000000);
    font-size: 16px;
    }
    .ticket.away .ticket__tearaway .ticket-tearaway-label .info__detail {
    color: var(--team-secondary, #000000);
    font-size: 16px;
    }
    .ticket-header-label { 
    display: none; 
    }
    .ticket-tearaway-label { 
    display: block; 
    } 
    .ticket .ticket__tearaway .logo {
    display: none;
    }
    .team-name p {
    /* font: 40px "Inter", sans-serif; */
    font: 28px "Inter", sans-serif;
    }
    .ticket.away .team-name p {
    padding-left: .5em;
    }
    .ticket[data-team="GSV"] .ticket-header .team-name p {
    /* font: 36px "Inter", sans-serif; */
    font-size: 21px;
    }
    .ticket.home .info-section {
    display: none;
    }
    .ticket.away .info-section {
    display: none;
    }  
    .ticket.away .logo-container {
    grid-area: auto;
    grid-row: auto;
    grid-column: auto;
    }
    .ticket.home .logo-container {
    grid-area: auto;
    grid-row: auto;
    grid-column: auto;
    }    
    .fineprint {
    display: none;
    }


    .ticket[data-team="LVA"].ticket.home .ticket__tearaway .ticket-tearaway-label .info__detail {
    color: #000000;
    }
    .ticket[data-team="LVA"].ticket.away .ticket__tearaway .ticket-tearaway-label .info__detail {
    color: #000000;
    }
}


